@import url('https://fonts.googleapis.com/css?family=nunito|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cormorant:600');

ul { 
    list-style: none;
}

a { 
    text-decoration: none; 
    color: black;

}

a:hover {
text-decoration: underline;
}

.head:hover {
    color: #9b0043;
}

p a {
    color: rgba(136, 194, 206, 1);
}


body {
    margin: 0;
    font-family: 'nunito', sans-serif;
    height: 100%;
}

#logo {
    width: 30px;
    float: right;
    margin: 18px;
}

#menu-wrapper {
    overflow: hidden;
    cursor: pointer;
    width: 38px;
}

#menu-wrapper #hamburger-menu {
    position: relative;
    width: 20px;
    height: 18px;
    margin: 20px;
}

#menu-wrapper #hamburger-menu span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 0;
    display: block;
    width: 100%;
    height: 1.6px;
    margin-top: 3px;
    border-radius: 1px;
    background-color: black;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 5px;
    background-color: rgba(147, 206, 226,1);
}

#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 10px;
}

#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    top: 7px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    top: 7px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*.menu-submenu > li:hover {
    text-decoration: underline;
}*/

 .menu-list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 20%;
    max-width: 450px;
    background-color: rgba(136, 194, 206, 1);
    box-shadow: rgba(100,100,100,0.3) 6px 6px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    left: -100%;
    margin: 0px;
    mix-blend-mode: hard-light;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login, .toggle {
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}

#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.accordion-content {
    display: none;
}

.accordion-toggle a:before, .accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    background-color: black;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
}

.accordion-toggle.active-tab {
  background-color: #606060;
  transition: all 0.3s ease;
}

.accordion-toggle a.active:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #fff !important;
}

.accordion-toggle a.active:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #fff !important;
    opacity: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-areas: 
    "articleone articleone"
    "articletwo  articlethree"
    "articletwo articlefour"
    "footer footer";
}

#article1 {
/*  background-blend-mode: screen;*/
    grid-area: articleone;
    padding: 0px;
    background-size: 700px;
    background-position: 80px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#article2 {
    grid-area: articletwo;
}

#article3 {
    grid-area: articlethree;
}

#article4 {
    grid-area: articlefour;
}

article {
    background-color: white;
    padding: 10px 0px 15px 0px;
    margin: 0;
}

h1 {
    font-family: 'Cormorant', sans-serif;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 0px auto;
    margin-bottom: 30px;
    font-size: 20px;
    width: 46%;
    color: white;
    padding: 10px;
    background-color: rgb(147, 206, 226);
    font-family: 'Cormorant', sans-serif;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

p {
    max-width: 550px;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'nunito', sans-serif;
    text-align: justify;
}

ol {
 text-align: center;
 padding-right: 30px;
 list-style-position: inside;
}

h3 {
    max-width: 550px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 17px;
    font-family: 'Cormorant', sans-serif;
    text-align: left;
}

sup {
    font-size: 10px;
}

img, iframe {
    max-height: 400px;
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 276px;}

strong {
    font-weight: bold;
    font-family: 'Nunito';
}

#line {
    margin-top: 35px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px 0px 0px 0px;
}

footer {
    padding: 10px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px 0px 0px 0px;
    float: bottom;
    grid-area: footer;
    height: 100%;
}

footer p {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.welcometext {
    font-family: 'Open Sans';
    text-align: left;
    margin-top: 0px;
}

.afbeeldingen {
    text-align: center;
    margin: 0;
}

#poster {
    min-width: 580px;
    text-align: center;
    padding-right: 310px;
}

h4 {
    text-align: center;
    font-size: 20px;
}

.sensorama {
   height: 323px;
}

#article2 img, #article3 img, #article4 img {
    max-width: 300px;
    max-height: 200px;
}

.afbeeldingen img {
    margin-bottom: 5px;
    margin-top: 20px;
}

.afbeeldingen a {
    color: rgba(136, 194, 206, 1) !important;
    }

.afbeeldinghover:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid white;
    transition: border 0.2s ease-in;
}

figure, iframe {
    display: inline-block;
    margin: 0;
}

iframe {
    margin-top: 30px;
}

#vimeo {
    margin: 30px 0px 0px 0px;
    height: 150px;
}

figcaption {
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
}

.explanation {
    padding: 10px;
    transition: 30ms;
    transform: perspective(0px) rotateX(-90deg);
    transform-origin: 50% 0;
    height: 0;
}

.explanation.active {
    transform: none;
    height: auto;
}}

.explanation {
    transition: 500ms;
}

.days {
    cursor: pointer;
}

.days > h2 {
    margin: 0 auto;
}

#definition {
    font-size: 12px !important;
    font-family: georgia;
    font-style: italic;
    padding-bottom: 10px;
}

#quote {
    font-family: georgia;
    font-style: italic;
}

#info {
    font-size: 12px !important;
    font-family: georgia;
    font-style: italic;
    padding-bottom: 10px;
    text-align: center;
}
